In [2]:
import pandas as pd
import random

In [3]:
df = pd.read_csv('Final_data.csv', index_col=0)
df

       User  Scenario  FEATURE  THPARTY  WTP  ORDPREF  PROFFER
Index
0         1         1        0        1    0        1     2.24
1         1         1        1        0    1        1     2.24
2         1         2        0        1    0        1     1.24
3         1         2        1        0    1        1     1.24
4         1         3        0        0    1        1     1.99
...     ...       ...      ...      ...  ...      ...      ...
13915   580        10        1        0    1        1     0.99
13916   580        11        0        0    1        1     2.99
13917   580        11        1        0    1        1     2.99
13918   580        12        0        0    0        1     1.99
13919   580        12        1        1    1        1     1.99

[13920 rows x 7 columns]

In [4]:
from random import seed
from random import gauss
for _ in range(10):
    value = gauss(4.544, 1.63)
    print(value)

6.573932680924337
3.7795608641904552
6.0794001135802365
4.4212097056520685
5.128931682575122
3.8053517787904356
4.763219937271169
4.620246997257874
7.528870132748734
2.6852243669567106

In [5]:
from numpy.random import randint
# seed random number generator
seed(1)
# generate some integers
values = randint(1, 7, 580)
print(values)

[2 5 1 2 1 2 4 6 2 3 6 6 4 5 1 5 4 5 3 4 5 6 4 4 2 6 6 3 2 6 5 2 6 6 1 6 3
 6 4 1 5 6 4 2 5 2 1 2 3 3 4 2 1 6 3 5 1 4 1 3 2 3 6 1 3 4 1 5 3 6 1 6 4 6
 2 4 1 5 1 5 5 5 4 4 3 1 4 4 6 5 5 1 3 6 5 2 1 3 2 3 1 1 4 4 3 3 5 3 6 6 4
 6 4 6 3 4 6 1 5 3 2 5 3 2 3 6 6 4 6 6 2 3 6 1 5 2 4 2 6 4 4 3 4 3 3 3 4 5
 5 4 4 1 2 1 1 6 1 1 5 4 2 2 5 4 3 5 1 6 3 2 1 2 5 6 6 3 2 5 6 4 1 3 4 5 4
 1 2 4 5 4 5 1 2 3 2 1 1 6 5 1 5 2 6 2 1 3 1 4 2 5 1 2 1 6 1 5 4 4 4 3 5 5
 6 2 4 2 5 5 3 6 3 3 4 5 6 6 3 5 1 5 1 6 3 1 4 4 6 2 3 3 3 2 3 5 6 4 2 3 4
 1 1 5 4 2 3 6 6 5 2 2 1 4 6 3 2 5 1 6 4 5 6 3 5 1 1 5 6 5 5 6 4 1 2 4 2 5
 3 6 3 4 2 3 1 3 3 1 2 4 5 1 4 4 3 3 5 4 4 5 6 6 1 3 4 3 2 4 3 5 2 6 6 5 4
 2 5 5 3 4 1 6 6 1 4 2 6 6 4 3 5 3 6 4 4 4 4 3 3 6 3 2 5 3 3 5 6 5 4 2 1 6
 3 1 2 1 6 2 1 6 3 6 3 4 6 1 3 2 4 5 4 5 5 5 5 5 1 3 5 3 4 4 4 1 2 1 4 6 6
 6 4 1 1 3 6 3 2 3 6 6 6 4 4 4 4 3 3 2 1 4 2 4 2 1 2 4 4 1 2 4 6 2 3 6 4 6
 6 4 4 4 1 1 4 3 1 2 1 3 3 5 2 3 2 5 5 5 3 6 3 1 2 2 5 4 3 1 5 3 4 4 4 5 3
 2 5 1 3 6 3 1 4 5 3 6 1 3 2 3 1 6 3 1 5 4 4 3 4 2 4 6 1 1 5 3 4 2 2 3 4 3
 1 3 6 2 6 5 6 2 4 3 6 5 1 1 2 4 4 2 5 3 2 1 6 1 6 2 1 4 1 2 4 6 3 3 1 4 3
 5 6 4 5 5 4 3 6 3 4 4 3 3 5 4 3 6 3 5 5 6 2 4 5 5]

In [6]:
df["RISKPERC"] = pd.NaT
df["RISKPERC"] = df["RISKPERC"].fillna(5)
df["RISKBEH"] = pd.NaT
df["RISKBEH"] = df["RISKBEH"].fillna(5)

In [7]:
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH
Index,,,,,,,,,
0,1,1,0,1,0,1,2.24,5,5
1,1,1,1,0,1,1,2.24,5,5
2,1,2,0,1,0,1,1.24,5,5
3,1,2,1,0,1,1,1.24,5,5
4,1,3,0,0,1,1,1.99,5,5
...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,5,5
13916,580,11,0,0,1,1,2.99,5,5
13917,580,11,1,0,1,1,2.99,5,5
13918,580,12,0,0,0,1,1.99,5,5
13919,580,12,1,1,1,1,1.99,5,5

In [8]:
df["RISKPERC"] = randint(1, 8, 13920)
df["RISKBEH"] = randint(1, 8, 13920)
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH
Index,,,,,,,,,
0,1,1,0,1,0,1,2.24,2,7
1,1,1,1,0,1,1,2.24,4,6
2,1,2,0,1,0,1,1.24,4,1
3,1,2,1,0,1,1,1.24,4,2
4,1,3,0,0,1,1,1.99,1,6
...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,4,2
13916,580,11,0,0,1,1,2.99,1,7
13917,580,11,1,0,1,1,2.99,1,4
13918,580,12,0,0,0,1,1.99,6,7
13919,580,12,1,1,1,1,1.99,7,6

In [9]:
df["Age"] = pd.NaT
df["Age"] = df["Age"].fillna(5)

In [10]:
# We want age range between 18 to 66

possible_ages = range(18, 66)
print(possible_ages)

def random_age_assign():
    return random.choice(possible_ages)

range(18, 66)

In [11]:
grouped_ages = df.groupby(['User']).apply(lambda x: random_age_assign())
grouped_ages.name = 'AGE'
grouped_ages

User
1      26
2      54
3      22
4      34
5      25
       ..
576    33
577    38
578    49
579    61
580    48
Name: AGE, Length: 580, dtype: int64

In [12]:
df = df.join(other=grouped_ages, on=['User'])
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH,Age,AGE
Index,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,2,7,5,26
1,1,1,1,0,1,1,2.24,4,6,5,26
2,1,2,0,1,0,1,1.24,4,1,5,26
3,1,2,1,0,1,1,1.24,4,2,5,26
4,1,3,0,0,1,1,1.99,1,6,5,26
...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,4,2,5,48
13916,580,11,0,0,1,1,2.99,1,7,5,48
13917,580,11,1,0,1,1,2.99,1,4,5,48
13918,580,12,0,0,0,1,1.99,6,7,5,48
13919,580,12,1,1,1,1,1.99,7,6,5,48

In [13]:
df = df.drop('Age', axis=1)
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH,AGE
Index,,,,,,,,,,
0,1,1,0,1,0,1,2.24,2,7,26
1,1,1,1,0,1,1,2.24,4,6,26
2,1,2,0,1,0,1,1.24,4,1,26
3,1,2,1,0,1,1,1.24,4,2,26
4,1,3,0,0,1,1,1.99,1,6,26
...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,4,2,48
13916,580,11,0,0,1,1,2.99,1,7,48
13917,580,11,1,0,1,1,2.99,1,4,48
13918,580,12,0,0,0,1,1.99,6,7,48
13919,580,12,1,1,1,1,1.99,7,6,48

In [14]:
possible_gender = range(0, 2)
print(possible_gender)

def random_gender_assign():
    return random.choice(possible_gender)

grouped_gender = df.groupby(['User']).apply(lambda x: random_gender_assign())
grouped_gender.name = 'GENDER'
grouped_gender

range(0, 2)

User
1      0
2      1
3      1
4      1
5      0
      ..
576    0
577    1
578    0
579    1
580    0
Name: GENDER, Length: 580, dtype: int64

In [15]:
df = df.join(other=grouped_gender, on=['User'])
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH,AGE,GENDER
Index,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,2,7,26,0
1,1,1,1,0,1,1,2.24,4,6,26,0
2,1,2,0,1,0,1,1.24,4,1,26,0
3,1,2,1,0,1,1,1.24,4,2,26,0
4,1,3,0,0,1,1,1.99,1,6,26,0
...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,4,2,48,0
13916,580,11,0,0,1,1,2.99,1,7,48,0
13917,580,11,1,0,1,1,2.99,1,4,48,0
13918,580,12,0,0,0,1,1.99,6,7,48,0
13919,580,12,1,1,1,1,1.99,7,6,48,0

In [16]:
possible_income = range(0, 180000)
print(possible_income)

def random_income_assign():
    return random.choice(possible_income)

grouped_income = df.groupby(['User']).apply(lambda x: random_income_assign())
grouped_income.name = 'INCOME'
grouped_income

df = df.join(other=grouped_income, on=['User'])
df

range(0, 180000)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,RISKPERC,RISKBEH,AGE,GENDER,INCOME
Index,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,2,7,26,0,139665
1,1,1,1,0,1,1,2.24,4,6,26,0,139665
2,1,2,0,1,0,1,1.24,4,1,26,0,139665
3,1,2,1,0,1,1,1.24,4,2,26,0,139665
4,1,3,0,0,1,1,1.99,1,6,26,0,139665
...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,4,2,48,0,38714
13916,580,11,0,0,1,1,2.99,1,7,48,0,38714
13917,580,11,1,0,1,1,2.99,1,4,48,0,38714
13918,580,12,0,0,0,1,1.99,6,7,48,0,38714
13919,580,12,1,1,1,1,1.99,7,6,48,0,38714

In [17]:
df = df.drop('RISKPERC', axis=1)
df = df.drop('RISKBEH', axis=1)
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME
Index,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665
1,1,1,1,0,1,1,2.24,26,0,139665
2,1,2,0,1,0,1,1.24,26,0,139665
3,1,2,1,0,1,1,1.24,26,0,139665
4,1,3,0,0,1,1,1.99,26,0,139665
...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714
13916,580,11,0,0,1,1,2.99,48,0,38714
13917,580,11,1,0,1,1,2.99,48,0,38714
13918,580,12,0,0,0,1,1.99,48,0,38714
13919,580,12,1,1,1,1,1.99,48,0,38714

In [18]:
possible_risk_behavior = range(1, 8)
print(possible_risk_behavior)

def random_riskbeh_assign():
    return random.choice(possible_risk_behavior)

grouped_risk_beh = df.groupby(['User']).apply(lambda x: random_riskbeh_assign())
grouped_risk_beh.name = 'RISKBEH'
grouped_risk_beh

df = df.join(other=grouped_risk_beh, on=['User'])
df

range(1, 8)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH
Index,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7
1,1,1,1,0,1,1,2.24,26,0,139665,7
2,1,2,0,1,0,1,1.24,26,0,139665,7
3,1,2,1,0,1,1,1.24,26,0,139665,7
4,1,3,0,0,1,1,1.99,26,0,139665,7
...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5

In [19]:
possible_risk_perception = range(1, 8)
print(possible_risk_perception)

def random_riskperc_assign():
    return random.choice(possible_risk_perception)

grouped_risk_perc = df.groupby(['User']).apply(lambda x: random_riskperc_assign())
grouped_risk_perc.name = 'RISKPERC'
grouped_risk_perc

df = df.join(other=grouped_risk_perc, on=['User'])
df

range(1, 8)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC
Index,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4
1,1,1,1,0,1,1,2.24,26,0,139665,7,4
2,1,2,0,1,0,1,1.24,26,0,139665,7,4
3,1,2,1,0,1,1,1.24,26,0,139665,7,4
4,1,3,0,0,1,1,1.99,26,0,139665,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5

In [20]:
possible_mobile_behavior = range(1, 8)
print(possible_mobile_behavior)

def random_mobbeh_assign():
    return random.choice(possible_mobile_behavior)

grouped_mob_beh = df.groupby(['User']).apply(lambda x: random_mobbeh_assign())
grouped_mob_beh.name = 'MOBBEH'
grouped_mob_beh

df = df.join(other=grouped_mob_beh, on=['User'])
df

range(1, 8)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH
Index,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2

In [21]:
possible_selfconfidence_behavior = range(1, 4)
print(possible_selfconfidence_behavior)

def random_selfconf_assign():
    return random.choice(possible_selfconfidence_behavior)

grouped_self_conf = df.groupby(['User']).apply(lambda x: random_selfconf_assign())
grouped_self_conf.name = 'LSLFCONF'
grouped_self_conf

df = df.join(other=grouped_self_conf, on=['User'])
df

range(1, 4)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF
Index,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1

In [22]:
#### own experience
possible_own_experience = range(1, 4)
print(possible_own_experience)

def random_ownexp_assign():
    return random.choice(possible_own_experience)

grouped_own_exp = df.groupby(['User']).apply(lambda x: random_ownexp_assign())
grouped_own_exp.name = 'OWNEXP'
grouped_own_exp

df = df.join(other=grouped_own_exp, on=['User'])
df

range(1, 4)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP
Index,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3

In [23]:
#### experience of someone they knew
possible_other_experience = range(1, 4)
print(possible_other_experience)

def random_othexp_assign():
    return random.choice(possible_other_experience)

grouped_other_exp = df.groupby(['User']).apply(lambda x: random_othexp_assign())
grouped_other_exp.name = 'OTHEXP'
grouped_other_exp

df = df.join(other=grouped_other_exp, on=['User'])
df

range(1, 4)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP
Index,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3

In [24]:
#### heard experience
possible_heard_experience = range(1, 4)
print(possible_heard_experience)

def random_hearexp_assign():
    return random.choice(possible_heard_experience)

grouped_heard_exp = df.groupby(['User']).apply(lambda x: random_hearexp_assign())
grouped_heard_exp.name = 'HEAREXP'
grouped_heard_exp

df = df.join(other=grouped_heard_exp, on=['User'])
df

range(1, 4)

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP
Index,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1

In [25]:
import csv
df.to_csv('hypothesis_testing.csv')

In [26]:
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP
Index,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1

In [27]:
df["HomeExpDum"] = pd.NaT
df["MedRecDum"] = pd.NaT
df["PwdDum"] = pd.NaT

In [28]:
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,NaT,NaT,NaT
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,NaT,NaT,NaT
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,NaT,NaT,NaT
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,NaT,NaT,NaT
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,NaT,NaT,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,NaT,NaT,NaT
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,NaT,NaT,NaT
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,NaT,NaT,NaT
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,NaT,NaT,NaT
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,NaT,NaT,NaT

In [29]:
df['HomeExpDum'] = df['HomeExpDum'].fillna(5)
df['MedRecDum'] = df['MedRecDum'].fillna(5)
df['PwdDum'] = df['PwdDum'].fillna(5)

In [30]:
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,5,5

In [31]:
# HomeExpDum = 1, for n = 4,640
max_iterations = 1
n = 4640
i = 1 #counter
while True:
    df_n = df.sample(n)
    df_n.loc[df_n['HomeExpDum'] == 5, 'HomeExpDum'] = 1
    i+=1
    if i>max_iterations:
        break
df_n

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
3321,139,5,1,0,1,0,1.24,31,0,63066,6,2,1,1,3,2,2,1,5,5
9418,393,6,0,0,0,1,1.74,65,0,145180,2,4,3,3,1,2,1,1,5,5
7357,307,7,1,0,0,0,2.49,35,0,98597,3,5,5,1,3,2,3,1,5,5
4525,189,7,1,0,1,0,0.24,34,1,77409,4,2,4,3,1,3,2,1,5,5
1856,78,5,0,1,0,0,2.24,48,0,90970,5,6,2,3,3,2,3,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5594,234,2,0,1,0,0,0.49,51,0,62865,6,7,2,1,2,3,3,1,5,5
6551,273,12,1,1,1,0,1.74,57,0,152772,7,5,5,2,3,2,2,1,5,5
9144,382,1,0,1,0,1,0.74,30,1,108936,7,3,6,1,3,2,1,1,5,5
8740,365,3,0,0,0,1,0.49,36,0,148638,2,1,3,1,2,2,1,1,5,5
5254,219,12,0,0,1,0,1.99,19,0,11027,2,5,5,2,2,3,2,1,5,5

In [32]:
df.loc[df_n.index, :] = df_n[:]  
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,5,5

In [33]:
# MedRecDum = 1, for n = 4,640
max_iterations = 1
n = 4640
i = 1 #counter
while True:
    df_n = df[(df.HomeExpDum == 5) & (df.MedRecDum == 5)].sample(n)
    df_n.loc[df_n['HomeExpDum'] == 5, 'MedRecDum'] = 1
    i+=1
    if i>max_iterations:
        break
df_n

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
6097,255,1,1,0,0,0,0.24,22,0,115610,5,1,4,1,2,1,3,5,1,5
10590,442,4,0,0,1,1,1.24,35,0,40129,1,2,2,3,2,3,3,5,1,5
2885,121,3,1,1,0,0,2.99,43,1,162696,6,5,3,1,2,3,1,5,1,5
13181,550,3,1,0,0,1,1.49,55,0,141206,1,5,6,1,1,3,2,5,1,5
4633,194,1,1,0,0,0,1.49,59,0,140844,4,2,5,2,3,1,1,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8412,351,7,0,1,0,1,2.24,26,0,112046,6,2,5,2,3,3,1,5,1,5
12700,530,3,0,1,1,1,2.49,53,1,131823,7,4,2,1,3,2,1,5,1,5
8601,359,5,1,0,1,1,2.24,53,1,140706,3,3,1,2,2,2,1,5,1,5
12640,527,9,0,0,1,1,2.49,61,0,176048,6,4,3,3,3,1,1,5,1,5
11890,496,6,0,0,0,1,0.24,38,0,29495,2,6,2,3,1,1,2,5,1,5

In [34]:
df.loc[df_n.index, :] = df_n[:]  
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,5,5,5
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,1,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,5,1,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,5,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,5,5,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,1,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,5,5,5

In [37]:
#Replacing number 5 with 0
df['HomeExpDum'] = df['HomeExpDum'].replace([5],0)

In [38]:
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,5,5
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,5,5
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,5,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,0,5,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,1,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,5,5

In [39]:
#Replacing number 5 with 0
df['MedRecDum'] = df['MedRecDum'].replace([5],0)
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,5
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,5
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,0,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,0,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,0,0,5
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,1,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,0,5

In [40]:
# PwdDum = 1, for n = 4,640 (HomeExpDum & MedRecDum = 0)
max_iterations = 1
n = 4640
i = 1 #counter
while True:
    df_n = df[(df.HomeExpDum == 0) & (df.MedRecDum == 0)].sample(n)
    df_n.loc[df_n['HomeExpDum'] == 0, 'PwdDum'] = 1
    i+=1
    if i>max_iterations:
        break
df_n

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
11770,491,6,0,0,0,1,2.99,60,0,82733,3,4,3,2,3,3,2,0,0,1
11614,484,12,0,0,0,1,1.24,48,1,161267,5,3,6,2,3,3,2,0,0,1
13805,576,3,1,1,0,1,2.99,33,0,120182,7,2,1,3,1,3,2,0,0,1
3068,128,11,0,0,1,0,1.49,60,1,78930,5,3,4,3,3,2,2,0,0,1
12331,514,10,1,1,1,1,0.99,62,0,31690,6,1,1,1,2,2,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7652,319,11,0,1,1,0,2.49,64,0,40766,7,4,4,2,3,2,2,0,0,1
9954,415,10,0,1,0,1,2.99,46,1,100732,1,1,6,3,1,1,2,0,0,1
7184,300,5,0,1,0,0,2.74,30,1,31564,1,6,4,2,1,2,1,0,0,1
12554,524,2,0,1,1,1,2.99,33,0,9884,1,3,7,1,3,2,1,0,0,1
4518,189,4,0,1,1,0,2.49,34,1,77409,4,2,4,3,1,3,2,0,0,1

In [41]:
df.loc[df_n.index, :] = df_n[:]  
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,1
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,1
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,5
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,0,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,0,5
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,0,5
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,0,0,1
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,1,5
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,0,1

In [42]:
#Replacing number 5 with 0
df['PwdDum'] = df['PwdDum'].replace([5],0)
df

,User,Scenario,FEATURE,THPARTY,WTP,ORDPREF,PROFFER,AGE,GENDER,INCOME,RISKBEH,RISKPERC,MOBBEH,LSLFCONF,OWNEXP,OTHEXP,HEAREXP,HomeExpDum,MedRecDum,PwdDum
Index,,,,,,,,,,,,,,,,,,,,
0,1,1,0,1,0,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,1
1,1,1,1,0,1,1,2.24,26,0,139665,7,4,2,2,2,2,2,0,0,1
2,1,2,0,1,0,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,0
3,1,2,1,0,1,1,1.24,26,0,139665,7,4,2,2,2,2,2,0,1,0
4,1,3,0,0,1,1,1.99,26,0,139665,7,4,2,2,2,2,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13915,580,10,1,0,1,1,0.99,48,0,38714,5,5,2,1,3,3,1,1,0,0
13916,580,11,0,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,1,0,0
13917,580,11,1,0,1,1,2.99,48,0,38714,5,5,2,1,3,3,1,0,0,1
13918,580,12,0,0,0,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,1,0
13919,580,12,1,1,1,1,1.99,48,0,38714,5,5,2,1,3,3,1,0,0,1